<template>
    <div>
        <v-layout row wrap justify-center>
            <v-flex xs12 sm6>
                <v-card>
                    <v-card-text v-if="questions">
                        <v-form ref="form" v-model="valid">
                            <v-text-field
                                name="name"
                                label="Name"
                                id="id"
                                v-model="name"
                                :rules="[rules.required]"
                            ></v-text-field>
                            <template v-for="(data, i) in questions">
                                
                                <template v-if="data.type === 'actual'">
                                    <v-text-field
                                        name="name"
                                        :label="data.name"
                                        id="id"
                                        v-if="data.is_currency"
                                        prepend-icon="attach_money"
                                        v-model="data.answer"
                                        type="number"
                                        :rules="[rules.required]"
                                    ></v-text-field>

                                    <v-text-field
                                        name="name"
                                        :label="data.name"
                                        id="id"
                                        v-if="!data.is_currency"
                                        v-model="data.answer"
                                        :rules="[rules.required]"
                                    ></v-text-field>
                                </template>

                                <v-select
                                    :items="[{id: 1, choice: 'Yes'},{id: 0, choice: 'No'}]"
                                    :label="data.name"
                                    item-text="choice"
                                    item-value="choice"
                                    v-else-if="data.type === 'boolean'"
                                    v-model="data.answer"
                                    :rules="[rules.required]"
                                ></v-select>
                                
                                <v-select
                                    :items="data.choices"
                                    :label="data.name"
                                    item-text="choice"
                                    item-value="choice"
                                    v-else
                                    v-model="data.answer"
                                    :rules="[rules.required]"
                                ></v-select>
                            </template>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="success" small round @click="confirmation">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>

        <v-dialog v-model="show_dialog" persistent max-width="290">
            <v-card>
                <v-card-title class="subheading"><b>Confirmation</b></v-card-title>
                <v-card-text>
                    Are you sure you want to save your answer? Click confirm to continue.
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                    <v-btn color="green darken-1" :disabled="loadingState" flat @click="show_dialog = false">Cancel</v-btn>
                    <v-btn color="green darken-1" :loading="loadingState" flat @click="save">Confirm</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import axios from '@/api/axios';
import { mapActions, mapGetters } from 'vuex';

export default {
    data() {
        return {
            name: '',
            questions: null,
            show_dialog: false,
            valid: false,
            rules: {
                required: v => !!v || 'This field is required.',
            },
        }
    },
    computed: {
        ...mapGetters('loading', [
            'loadingState',
        ]),
    },
    methods: {
        ...mapActions('loading', [
           'EmitLoading',
        ]),
        get_questions() {
            let vm = this

            axios({
                method: 'GET',
                url: '/api/get_question',
                data: vm.form,
            })
                .then(function (response) {
                    vm.questions = response.data
                })
                .catch(function (error) {
                    
                    console.log(error)
                });
        },
        confirmation() {
            if (this.$refs.form.validate()) {
                this.show_dialog = true
            }
        },
        reset() {
            this.$refs.form.reset()
            this.form.choices = []
        },
        save() {
            let vm = this

            vm.EmitLoading(true);
            vm.loading = true

            axios({
                method: 'POST',
                url: '/api/save_answer',
                data: {answer: vm.questions,name: vm.name},
            })
                .then(function (response) {
                    EventBus.$emit('show_snackbar',{
                        show: true,
                        message: response.data.message,
                        type: response.data.status
                    })
                    if (response.data.status == 'success') {
                        vm.show_dialog = false
                    }
                    vm.EmitLoading(false);
                })
                .catch(function (error) {
                    EventBus.$emit('show_snackbar',{
                        show: true,
                        message: 'Something went wrong when saving data',
                        type: 'error'
                    })
                    console.log(error)
                    vm.EmitLoading(false);
                });
        }
    },
    mounted() {
        this.get_questions()
    }
}
</script>