<template>
    <div>
        <v-layout row wrap justify-center>
            <v-flex xs12 sm6>
                <v-card>
                    <v-card-text>
                        <v-form ref="form" v-model="valid">
                            <v-text-field
                                name=""
                                label="Name of Question"
                                id="id"
                                v-model="form.name"
                                :rules="[rules.required]"
                            ></v-text-field>
                            
                            <span class="body-2">
                                Type of Question
                            </span>
                            <v-radio-group v-model="form.type" :rules="[rules.required]" row>
                                <v-radio label="Boolean" value="boolean"></v-radio>
                                <v-radio label="Dropdown" value="dropdown"></v-radio>
                                <v-radio label="Actual Input" value="actual"></v-radio>
                            </v-radio-group>

                            <template v-if="form.type === 'dropdown'">
                                <span class="body-2">
                                    Choices
                                </span>
                                <v-btn class="mx-2" fab small color="primary" @click="addChoices">
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>

                                <template v-for="(item, index) in form.choices">
                                    <v-layout row wrap >
                                        <v-flex xs11>
                                            <v-text-field
                                                name="name"
                                                label="Description"
                                                id="id"
                                                v-model="item.choice"
                                                :rules="[rules.required]"
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex xs1>
                                            <v-btn class="mx-2" fab small color="error" @click="removeItem(index)">
                                                <v-icon>mdi-minus</v-icon>
                                            </v-btn>
                                        </v-flex>
                                    </v-layout>
                                </template>
                            </template>

                            <template v-if="form.type === 'actual'">
                                <v-checkbox label="Currency" v-model="form.is_currency"></v-checkbox>
                            </template>

                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="success" small round @click="confirmation">Save</v-btn>
                        <v-btn color="error" small round @click="reset">Reset</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>

        <v-dialog v-model="show_dialog" persistent max-width="290">
            <v-card>
                <v-card-title class="subheading"><b>Confirmation</b></v-card-title>
                <v-card-text>
                    Are you sure you want to save this question? Click confirm to continue.
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                    <v-btn color="green darken-1" :disabled="loadingState" flat @click="show_dialog = false">Cancel</v-btn>
                    <v-btn color="green darken-1" :loading="loadingState" flat @click="save">Confirm</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import axios from '@/api/axios';
import { mapActions, mapGetters } from 'vuex';

export default {
    data() {
        return {
            valid: false,
            form: {
                choices: [],
                is_currency: false,
            },
            show_dialog: false,
            rules: {
                required: v => !!v || 'This field is required.',
            },
            loading: false,
        }
    },
    watch: {
        form: {
            handler: function(newValue,OldVal) {
                let vm = this
                if(vm.form.type === 'dropdown'){
                    if(vm.form.choices.length <= 0) {
                        vm.addChoices()
                    }
                }
                if(vm.form.type === 'actual'){
                    // vm.form.is_currency = false
                }
            },
            deep: true
        }
    },
    computed: {
        ...mapGetters('loading', [
            'loadingState',
        ]),
    },
    methods: {
        ...mapActions('loading', [
           'EmitLoading',
        ]),
        addChoices() {
            this.form.choices.push({
                choice: ''
            })
        },
        removeItem(row) {
            this.form.choices.splice(row,1)
        },
        confirmation() {
            if (this.$refs.form.validate()) {
                this.show_dialog = true
            }
        },
        reset() {
            this.$refs.form.reset()
            this.form.choices = []
        },
        save() {
            let vm = this

            vm.EmitLoading(true);
            vm.loading = true

            axios({
                method: 'POST',
                url: '/api/save_question',
                data: vm.form,
            })
                .then(function (response) {
                    EventBus.$emit('show_snackbar',{
                        show: true,
                        message: response.data.message,
                        type: response.data.status
                    })
                    if (response.data.status == 'success') {
                        vm.show_dialog = false
                        vm.reset()
                    }
                    vm.EmitLoading(false);
                })
                .catch(function (error) {
                    EventBus.$emit('show_snackbar',{
                        show: true,
                        message: 'Something went wrong when saving data',
                        type: 'error'
                    })
                    console.log(error)
                    vm.EmitLoading(false);
                });
        }
    }
}
</script>