<template>
    <v-layout row wrap justify-center>
        <v-flex xs12 sm6>
            <v-toolbar flat>
                <v-toolbar-title>JD Life Test</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items class="hidden-sm-and-down">
                <v-btn flat :to="'/'">Questionnaire</v-btn>
                <v-btn flat :to="'/answer_list'">List</v-btn>
                <v-btn flat :to="'/question_settings'">Manage Question</v-btn>
                </v-toolbar-items>
            </v-toolbar>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
    
}
</script>
