<template>
    <div>
		<template>
			<v-container grid-list-lg>
                <!-- App Header -->
                <app-header></app-header>
                <!-- App Main Content -->
                <v-content>
                    <!-- App Router -->
                    <transition>
                        <router-view></router-view>
                    </transition>
                </v-content>
            </v-container>
		</template>
    </div>
</template>

<script>

import Header from "./AppHeader.vue";

export default {
    components: {
        appHeader: Header,
    },
    data() {
        return {

        }
    }
}
</script>