<template>
    <v-app id="inspire" class="app grey lighten-4">
        <router-view></router-view>

        <v-snackbar
            v-model="alert.show"
            :multi-line="true"
            :timeout="alert.timeout"
            :top="'top'"
            :right="'right'"
            :color="alert.type"
        >
            {{ alert.message }}
            <v-btn
            dark
            flat
            @click="alert.show = false"
            >
            Close
            </v-btn>
        </v-snackbar>
    </v-app>
</template>
<script>
export default {
    data() { 
        return {
            alert: {
                show: false,
                message: '',
                type: '',
                timeout: 10000
            },
        }
    },
    created() {
        EventBus.$on('show_snackbar', (data) => {
            this.alert = data
        })
    }
}
</script>