<template>
    <div>
        <v-layout row wrap justify-center>
            <v-flex xs12 sm6>
                <v-card>
                    <v-card-text>
                        <v-data-table
                            :items="result_sets"
                            :headers="headers"
                            :pagination.sync="pagination"
                            :total-items="total_results"
                            :loading="fetching"
                            :rows-per-page-items="per_page"
                            class="elevation-1"
                            >
                            <template slot="items" slot-scope="props">
                            <tr class="hand">
                                <td class="text-xs-left">{{ props.item.name }}</td>
                                <td class="text-xs-center">
                                    <v-menu bottom left class="tab-custom" :nudge-bottom="40">
                                        <v-btn
                                        slot="activator"
                                        icon
                                        >
                                        <v-icon>more_vert</v-icon>
                                        </v-btn>
                            
                                        <v-list>

                                            <v-list-tile
                                                @click="show_answer(props.item)"
                                            >
                                                <v-list-tile-action>
                                                <v-icon>search</v-icon>
                                                </v-list-tile-action>
                                                <v-list-tile-content>
                                                <v-list-tile-title>View</v-list-tile-title>
                                                </v-list-tile-content>
                                            </v-list-tile>

                                            <v-list-tile
                                                @click="delete_answer(props.item)"
                                            >
                                                <v-list-tile-action>
                                                <v-icon>delete</v-icon>
                                                </v-list-tile-action>
                                                <v-list-tile-content>
                                                <v-list-tile-title>Delete</v-list-tile-title>
                                                </v-list-tile-content>
                                            </v-list-tile>

                                        </v-list>
                                    </v-menu>
                                </td>
                            </tr>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>

        <app-view-answer v-model="show_answer_dialog" :answer="answer" :id="selected_id"></app-view-answer>

        <v-dialog v-model="show_dialog" persistent max-width="290">
            <v-card>
                <v-card-title class="subheading"><b>Confirmation</b></v-card-title>
                <v-card-text>
                    Are you sure you want to delete? Click confirm to continue.
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                    <v-btn color="green darken-1" :disabled="loadingState" flat @click="show_dialog = false">Cancel</v-btn>
                    <v-btn color="green darken-1" :loading="loadingState" flat @click="process_delete">Confirm</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import ViewAnswer from './ViewAnswer'
import axios from '@/api/axios';
import { mapActions, mapGetters } from 'vuex';

export default {
    components: {
        appViewAnswer: ViewAnswer
    },
    data() {
        return {
            total_results: 0,
            result_sets: [],
            fetching: false,
            pagination: {},
            per_page: [ 10, 25, 50 ],
            headers: [
                { 
                    text: 'Name',
                    sortable: false, 
                    align: 'left',
                },
                { 
                    text: 'Action', 
                    width: '100',
                    align: 'center',
                    sortable: false, 
                },
                
            ],
            show_answer_dialog: false,
            answer: [],
            selected_id: 0,
            show_dialog: false,
        }
    },
    watch: {
        pagination:  {
          handler: function(newPage, oldPage) {
            this.get_list();
          },
          deep: true
        } 
    },
    computed: {
        ...mapGetters('loading', [
            'loadingState',
        ]),
    },
    methods: {
        ...mapActions('loading', [
           'EmitLoading',
        ]),
        get_list () {
            let vm = this,
                params = {}
            vm.fetching = true;

            params = {
                page: vm.pagination.page,
                per_page: vm.pagination.rowsPerPage,
            }

            axios.get('/api/get_list',{params: params})
            .then(function (response) {
                vm.result_sets = response.data.data;
                vm.total_results = response.data.model.total;
                vm.fetching = false
            })
            .catch(function (error) {
                console.log(error)
                vm.fetching = false
            });
        },
        show_answer(data) {
            this.selected_id = data.id
            this.show_answer_dialog = true
            this.answer = data.answer
        },
        delete_answer(data) {
            this.selected_id = data.id
            this.show_dialog = true
        },
        process_delete() {
            let vm = this,
                updated_answer = []

            vm.EmitLoading(true);

            axios({
                method: 'POST',
                url: '/api/delete_answer',
                data: {id: vm.selected_id},
            })
                .then(function (response) {
                    EventBus.$emit('show_snackbar',{
                        show: true,
                        message: response.data.message,
                        type: response.data.status
                    })
                    if (response.data.status == 'success') {
                        vm.show_dialog = false
                        vm.get_list();
                    }
                    vm.EmitLoading(false);
                })
                .catch(function (error) {
                    EventBus.$emit('show_snackbar',{
                        show: true,
                        message: 'Something went wrong when saving data',
                        type: 'error'
                    })
                    console.log(error)
                    vm.EmitLoading(false);
                });
        }
    },
    mounted () {
        this.get_list()
    }
}
</script>