<template>
    <div>
     <v-dialog v-model="value" persistent scrollable  max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">User Answer</span>
          <v-spacer></v-spacer>
            <v-btn color="primary" fab small dark @click="editing = !editing" v-if="!editing">
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <v-btn color="error" fab small dark @click="editing = !editing" v-else>
              <v-icon>close</v-icon>
            </v-btn>
            <template v-if="editing">
                <v-btn color="success" fab small dark @click="confirmation">
                    <v-icon>save</v-icon>
                </v-btn>
            </template>
            <template v-else>
                <v-btn color="blue darken-4" fab small dark :href="`/print_answer/${id}`" target="_blank">
                    <v-icon>print</v-icon>
                </v-btn>
            </template>
        </v-card-title>
        <v-card-text>

            <template v-if="!editing">
                <template v-for="(data, i) in answer">
                    <div class="body-1 grey--text text--darken-1">{{ data.name }}</div>
                    <div class="title">{{ data.answer }}</div>
                    <v-divider></v-divider>
                </template>
            </template>

            <template v-else>
                <v-form ref="form" v-model="valid">
                    <template v-for="(data, i) in answer">

                        <template v-if="data.type === 'actual'">
                            <v-text-field
                                name="name"
                                :label="data.name"
                                id="id"
                                v-if="data.is_currency"
                                prepend-icon="attach_money"
                                v-model="data.new_answer"
                                type="number"
                                :rules="[rules.required]"
                            ></v-text-field>

                            <v-text-field
                                name="name"
                                :label="data.name"
                                id="id"
                                v-if="!data.is_currency"
                                v-model="data.new_answer"
                                :rules="[rules.required]"
                            ></v-text-field>
                        </template>

                        <v-select
                            :items="[{id: 1, choice: 'Yes'},{id: 0, choice: 'No'}]"
                            :label="data.name"
                            item-text="choice"
                            item-value="choice"
                            v-else-if="data.type === 'boolean'"
                            v-model="data.new_answer"
                            :rules="[rules.required]"
                        ></v-select>

                        <v-select
                            :items="data.choices"
                            :label="data.name"
                            item-text="choice"
                            item-value="choice"
                            v-else
                            v-model="data.new_answer"
                            :rules="[rules.required]"
                        ></v-select>
                    </template>
                </v-form>
            </template>

        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="default" flat @click="editing = false; $emit('input',false)">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="show_dialog" persistent max-width="290">
        <v-card>
            <v-card-title class="subheading"><b>Confirmation</b></v-card-title>
            <v-card-text>
                Are you sure you want to save changes? Click confirm to continue.
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
                <v-btn color="green darken-1" :disabled="loadingState" flat @click="show_dialog = false">Cancel</v-btn>
                <v-btn color="green darken-1" :loading="loadingState" flat @click="save">Confirm</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    </div>
</template>

<script>
import axios from '@/api/axios';
import { mapActions, mapGetters } from 'vuex';

export default {
    props: {
        value: {
            type: Boolean,
            default: false
        },
        id: {
            type: Number,
            default: 0
        },
        answer: {
            type: Array|Object,
            default: []
        }
    },
    data() {
        return {
            valid: false,
            editing: false,
            rules: {
                required: v => !!v || 'This field is required.',
            },
            edit_data: [],
            show_dialog: false,
        }
    },
    computed: {
        ...mapGetters('loading', [
            'loadingState',
        ]),
    },
    methods: {
        ...mapActions('loading', [
           'EmitLoading',
        ]),
        confirmation() {
            if (this.$refs.form.validate()) {
                this.show_dialog = true
            }
        },
        save() {
            let vm = this,
                updated_answer = []

            vm.EmitLoading(true);
            vm.loading = true

            updated_answer = [...vm.answer]

            for(const  [i, v] of updated_answer.entries()) {
                updated_answer[i].answer = v.new_answer
            }

            axios({
                method: 'POST',
                url: '/api/update_answer',
                data: {id: vm.id, answer: updated_answer},
            })
                .then(function (response) {
                    EventBus.$emit('show_snackbar',{
                        show: true,
                        message: response.data.message,
                        type: response.data.status
                    })
                    if (response.data.status == 'success') {
                        vm.show_dialog = false
                    }
                    vm.EmitLoading(false);
                })
                .catch(function (error) {
                    EventBus.$emit('show_snackbar',{
                        show: true,
                        message: 'Something went wrong when saving data',
                        type: 'error'
                    })
                    console.log(error)
                    vm.EmitLoading(false);
                });
        }
    }
}
</script>
